.body {

    width: 60vw;
    height: 75vh;
    
    /*background: red;*/
    border: 1px solid black;
    border-radius: 5px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.player-box {

    width: 30%;
    height: 100%;
    border-right: 1px solid black;

}

.chat-box {

    width: 70%;
    height: 100%;

}

.player-title, .chat-title {

    margin: 0px;
    padding: .5em;
    width: calc(100% - 10px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;

    border-bottom: 1px solid black;

}

.player-item {

    width: 100%;
    height: calc((100% - 2.4em) / 5);
    background: red;

}

